*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigation{
    padding-left: 25%;
    padding-right: 25%;
    float: right;
    padding-top: 20px;
}

.navigation button{
    border: 1px solid #4a154b;
    border-radius: 5px;
    font-weight: 500;
    color: #4a154b;
    background-color: transparent;
    padding: 10px;
}

.navigation button:hover{
    border: 2px solid #4a154b;
}

.navigation a{
    font-weight: 500;
    margin-right: 25px;
}

.navigation a:hover{
    border-bottom: 1px solid black;
}

body{
    background-color: #f4ede4;
}

.info{
    padding-top: 8%;
    padding-left: 25%;
    padding-right: 25%;
}

.info h1{
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 10px;
}

.info ul li{
    padding-bottom: 10px;
    font-weight: 600;
}

.info ul li span{
    border-bottom: 2px dotted black;
}

.info ul p{
    padding-top: 10px;
    color: grey;
}

.info button{
    color: white;
    font-weight: 600;
    background-color: #4a154b;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #4a154b;
}

.info button:hover{
    background-color: #352235;
}

.info a{
    color: grey;
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.benefits{
    background-color: white;
}

.table-row tr:hover{
    background-color: lightgrey;
}

.table-header{
    font-weight: bold;
    font-size: 20px;
}

.table-container{
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-top: 0;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.company{
    display: flex;
    padding-left: 12%;
    padding-right: 12%;
}

.company h3{
    padding: 50px;
}


