*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navigation{
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 20px;
}

.navigation button,.navigation a{
    display: flex;
    justify-content: end;
}

.navigation button{
    border: 1px solid #4a154b;
    border-radius: 5px;
    font-weight: 500;
    color: #4a154b;
    background-color: transparent;
    padding: 7px 15px 7px 15px;
}

.navigation button:hover{
    border: 2px solid #4a154b;
}

.navigation a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-right: 25px;
}

.navigation a:hover{
    border-bottom: 1px solid black;
}

body{
    background-color: #f4ede4;
}

.info{
    padding-top: 8%;
    padding-left: 20%;
    padding-right: 20%;
}

.info h1{
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 10px;
}

.info ul li{
    padding-bottom: 10px;
    font-weight: 600;
}

.info ul li span{
    border-bottom: 2px dotted black;
}

.info ul p{
    padding-top: 10px;
    color: grey;
}

.info button{
    color: white;
    font-weight: 600;
    background-color: #4a154b;
    border-radius: 5px;
    padding: 15px;
    border: 1px solid #4a154b;
}

.info button:hover{
    background-color: #352235;
}

.info a{
    color: grey;
    text-decoration: none;
    border-bottom: 1px solid grey;
}

.info img{
    display: flex;
    float: right;
    
}

.benefits{
    background-color: white;
}


.table-row tr:hover{
    background-color: lightgrey;
}

.table-header{
    font-weight: bold;
    font-size: 20px;
}

.table-container{
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-top: 4px solid #352235;
    padding: 10px;
    box-shadow: 5px 10px 18px #888888;
    z-index: 1;
}

.company{
    display: flex;
    padding-left: 12%;
    padding-right: 12%;
}

.company h3{
    padding: 55px;
}

.half-circle{
    height: 20rem;
    width: 20rem;
    background-color:#4a154b;
    border-radius: 0 0 50% 50%/0 0 100% 100%;
    padding-left: 50%;
    padding-right: 50%;
}

.half-circle h2{
    display: flex;
    justify-content: center;
}
.half-circle button{
    border: 0;
    border-radius: 5px;
    color: #4a154b;
    font-weight: 600;
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

.details a,h3{
    display: flex;
    justify-content: center;
}

.details h3{
    font-weight: bold;
    padding-top: 5%;
}

.extra-details{
    padding-top: 5%;
}

.extra-details img{
    padding-bottom: 10px;
}

.extra-details,.extra-details p,.extra-details img{
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
    font-weight: 600;
    font-size: 18px;
}

.facts{
    padding-left: 25%;
    padding-right: 25%;
}

.facts,.facts div p,.facts div h1{
    display: flex;
    justify-content: center;
}

.facts div{
    padding-top: 5%;
    padding-left: 15px;
    padding-right: 15px;
}

.facts p{
    font-size: small;
    font-weight: bold;
}

.facts h1{
   color: #5c375c;
   font-weight: bold;
   font-size: 50px;
}

.icons{
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 25%;
    padding-right: 25%;
    float: right;
}

.icons i{
    padding-left: 10px;
    padding-right: 10px;
}

.icons a{
    text-decoration: none;
    color: black;
}

.faq{
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 5%;
}

.faq h3{
    padding-top: 5%;
    padding-bottom: 5%;
}

.modal-body p{
    padding: 25px;

}

.modal-body a{
    color: blue;
    border-color: blue;
}


